.PostForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  border-radius: 5px;
}

.PostForm .PostFormBox {
  background-color: #79c5e8;
  padding: 24px;
  width: 60vw;
  height: 40vh;
}

.PostForm .PostFormForm {
  display: flex;
  flex-direction: column;
}
